
body {
    background-color: blueviolet;
}


section {
    margin-left: 800px;
    float: left;
    border: 5px solid #33ff09;
    margin-top: 300px;
    width: 740px;
    height: 670px;
}

p {
    font-size: 20px;
}


input {
    margin-left: 1628px;
    margin-top: 539px;
    width: 345px;
    height: 52px;
    float: left;
    position: absolute;
}

button {
    margin-left: 77px;
    background-color: rgb(200, 8, 200);
    color: white;
    width: 237px;
    height: 148px;
    float: left;
    margin-top: 500px;
}