
body {
    background-color: blueviolet;
}


section {
    height: 250px;
    width: 300px;
    float: left;
    border: 1px solid black;
}

p {
    font-size: 20px;
}


button {
    margin-left: 100px;
    background-color: rgb(200, 8, 200);
    color: white;
    width: 60px;
    height: 20px;
}