
body {
    background-color: blueviolet;
}


section {
    margin-left: 800px;
    float: left;
    border: 5px solid #33ff09;
    margin-top: 300px;
    width: 740px;
    height: 670px;
}

p {
    font-size: 20px;
}


button {
    margin-left: 100px;
    background-color: rgb(200, 8, 200);
    color: white;
    width: 60px;
    height: 20px;
}